/* .menu-root>.menu-item:hover>.menu-link {
    display: inline-block;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#263b95), to(#07d0c9));
    background: linear-gradient(to right, #263b95, #07d0c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
 .menu > ul >li > a:hover {
    /* color: #fff; */
    background: linear-gradient(to right, #50C577, #2DBEFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 

.hotline {
    background-image: linear-gradient(180deg, #FFB469, #E57709);
    height: 40px;
}
.hotline:hover {
    background: linear-gradient(to right, #50C577, #2DBEFC);
}
.sub1{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #252525;
}
.body2{
    font-weight: 400;
    color: #888888;
    font-size: 0.875rem;    
    line-height: 1.25rem;
}

.h1 {
    font-family: system-ui;
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
.ellipse {
    margin-top: -320px;
    margin-left: 280px;
}
.ellipse1 {
width: 650px;
height: 650px;
margin-top: -356px;
margin-left: -289px;
margin-bottom: -225px;
}
.main_inc {
/* height: 442px; */
margin-top: 88px;
margin-bottom: 88px;
.edit_con {
    width: 59%;
    .text_inc {  
        width: 73%;      
        p{
            margin-top: 8px;
            margin-bottom: 25px;
        }
    }
    
}
.mySwiper1 {
    .swiper-slide {
        .text_slide:hover {
            background-image: linear-gradient(to right, #50C577, #2DBEFC);
            h3{
                color: white;
            }
            h5{
                color: white;
            }
            p {
                color: white;
            }
            .sign_in {                 
                background: linear-gradient(180deg, #FFB469, #E57709);
                color: white;
            }
        }
    }
}


}

.vector_left {
width: 36px;
height: 36px;
margin: 4px;
img {
    width: 7px;
    height: 14px;
}
}
.vector_left:hover {
    background-image: linear-gradient(to right, #50C577, #2DBEFC);
    transition-duration: 500ms;
}

.vector_right {
width: 36px;
height: 36px;
margin: 4px;
img {
    width: 7px;
    height: 14px;
}
}
.vector_right:hover {
    background-image: linear-gradient(to right, #50C577, #2DBEFC);
}
.text_contact {
margin-left: 20px;
align-content: space-evenly;
}
.intro p {
width: 668px;
margin-top: 10px;
margin-bottom: 15px;
}
.des {

.icon {
    .des_icon {
        width: 12px;
        height: 12px;
        align-content: center;
    }
}
}
.btn_ct {
    margin-top: 30px;
    .contact_btn {
        width: 100px;
        height: 40px;
        color: white;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all linear 0.3s;
    }
    .contact_btn:hover {
        
        background-image: linear-gradient(to right, #50C577, #2DBEFC);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}

.bang_gia {
    .back_gr {
        padding-bottom: 40px;
        .container {
            margin-bottom: 40px;
            .bang_footer {
                .bang_footer_text:hover {
                    color: black;  
                    transition-duration: 300ms;                   
                }
            }
        }
    }
    .ellipse2 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

    .trongoi_dichvu {
        align-items: center;
        .trongoi_text {
            height: 372px;
            padding: 45px;
            margin-left: -285px;
            .trongoi_text_intro p{
                margin-top: 16px;
                margin-bottom: 40px;
                margin-right: 4px;
            }
            .trongoi_text_btn {
                width: 172px;
                height: 46px;
            } 
            .trongoi_text_btn:hover {
                background-image: linear-gradient(to right, #50C577, #2DBEFC);
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            }
        }
    }
    .ellipse3 {
        margin-top: -375px;
        margin-left: 715px;
    }


.title_doctor_search:hover {
    background-image: linear-gradient(to right, #50C577, #2DBEFC);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
   
        
    


.ellipse4 {
    margin-top: -130px;
    margin-left: -270px;
    margin-bottom: -450px;
}
/* .ellipse5 {
    margin-top: -286px;
    margin-right: -1000px;
    margin-left: 1515px;
} */
.ellipse6 {
    width: 507px;
    height: 507px;
    margin-top: -495px;
    margin-left: -350px;
}
.giaiphap_ellip {
    margin-left: 378px;
}



.giaiphap {
    margin-top: -550px;
    .btn_contact{
        background-image: linear-gradient(180deg, #FFB469, #E57709);
        width: 150px;
        height: 40px;
        margin-top: 40px;
    }
    .btn_contact:hover {
        background-image: linear-gradient(to right, #50C577, #2DBEFC);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    .giaiphap_video {
        a {
            img {
                width: 100%;
            }
        }
    }
    .giaiphap_video .img:after {
        position: absolute;
        inset: 0;
        content: "";
        display: block;
        background: url(../image/logos_youtube.png) no-repeat;
        background-size: 4.375rem;
        background-position: center center;
    }
    .giaiphap_text {
        padding-left: 32px;
    }
}
.con_text {
    .btn_contact{
        background-image: linear-gradient(180deg, #FFB469, #E57709);
        width: 150px;
        height: 40px;
    }
    .btn_contact:hover {
        background-image: linear-gradient(to right, #50C577, #2DBEFC);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}
.container {
    .div2 {
        .div2_small {
            width: 22%;
        }
        .div2_small2 {
            width: 22%;
            margin-left: 410px;
        }
    }
}
footer {
    .footer_ellip {
        margin-bottom: -123px;
    }
    .footer_icon {
        border: 1px solid white;
        border-radius: 40px;
        padding: 5px;
    }
    .footer_icon:hover {
        background-color: #fff;
        transition-duration: 400ms;
        svg {
            path {
                fill: #0078b0;
            }
        }
    }
}




/* mobile nav */
.nav_bars-btn {
    width: 20px;
    height: 20px;
    color: #252525;
    display: none;
}
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.menu_mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 30;
}
.nav__mobile-list {
    margin-top: 20px;
    text-align: center;
}
.nav__mobile-link {
    padding: 8px;
    font-size: 1.3rem;
}
.nav_mobile-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}
.nav__input:checked ~ .nav__overlay {
    display: block;
}
.nav__input:checked ~ .menu_mobile {
    transform: translateX(0%);
    opacity: 1;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1023px) {
    .nav_bars-btn {
        display: block;
    }
    .menu {
        display: none;
    }
}

@media only screen and (min-width: 20em) and (max-width: 25.4375em) {
    header {
        .container {
            .hotline{
                display: none;
                
            }
        }
        
    }
    .main_inc {
        .text_inc {
            h1{
                font-size: 30px;
            }
        }
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    h1{
        font-size: 26px;
    }
    header {
        .container {
            
            .hotline{
                a {
                    
                    .hotline-text {
                       font-size: 14px;
                    }
                }
                
            }
        }
        
    }
    .ellipse {
        display: none;
    }
    .main_inc {
        margin-top: 0;
        margin-bottom: 5px;
        flex-wrap: wrap;
        .edit_con {
            width: 100%;          
            .text_inc {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-top: 5px;
                margin-bottom: 5px;
                h1{
                    text-align: center;
                    width: 100%;
                }
                p{
                    text-align: center;
                }
                .vector {
                    justify-content: center;
                }
            }
        }
        .mySwiper1 {
            width: 100%;
            margin-left: 1rem;
            margin-right: 1rem;
            .slide_inc {
                width: 100%;
                .inc_img {
                    .img_slide {
                        width: 100%;
                    }
                }
                .text_slide {
                    width: 100%;
                }
            }
            .swiper-pagination {
                display: block;
            }
        }
        
    }
    .contact {
        margin-bottom: 30px;
        .container {
            display: block;
            .img_contact {
                width: 100%;
                margin-bottom: 5px;
            }
            .text_contact {
                width: 100%;
                margin-left: 0;
                
                .intro {
                    h1{
                        text-align: center;
                    }
                    p{
                        width: 100%;
                        text-align: center;
                    }
                }
                .des {
                    width: 100%;
                    margin-bottom: 10px;
                    .icon {
                        .des_icon {
                            width: 6px;
                            height: 6px;
                            align-content: center;
                        }
                    }
                }
                .btn_ct {
                    display: flex;
                    justify-content: center;
                    .contact_btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                
            }
        }
        .ellipse1 {
            display: none;
        }
        
    }
    
    
        
        .ellipse2 {
            display: none;
        }
        .back_gr {
            .container{
                margin-bottom: 0;
            }
            .bang {
                padding-bottom: 0;
                .logo_left {
                    display: none;
                }
                .text_title {
                    h1{
                        font-size: 21px;
                    }
                }
                .bang_edit {
                    padding-left: 0;
                    padding-right: 0;
                    table{
                        width: 100%;
                        font-size: 9px;
                    }               
                }
                .bang_footer {
                    padding: 0;
                    margin-left: 0;
                    .web_1 {
                        align-items: center;
                        .bang_footer_text {
                            font-size: 9px;
                            
                        }
                    }
                    .web_2 {
                        margin-left: 0;
                        align-items: center;
                        .bang_footer_text {
                            font-size: 9px;
                        }
                    }
                }
                
            }
        }
        

    
    
        .trongoi_dichvu {
            .trongoi_image {
                width: 0;
                visibility: hidden;
            }
            .trongoi_text {
                width: 100%;
                padding: 0;   
                margin-left: 0;
                height: auto;
                margin: auto;  
                padding-bottom: 10px;
                box-shadow: 0 0 #0000;          
                .trongoi_text_intro {
                    margin-bottom: 0;
                    margin-right: 0;
                    margin-top: -40px;
                    h1 {
                        font-size: 26px;
                    }
                    p {
                        margin-bottom: 10px;
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
                .btn_trongoi {
                    display: flex;
                    justify-content: center;
                    .contact_btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                
            }
            
        }
        .ellipse3 {
            display: none;
        }
    
    .thietbi {
        margin-top: 30px;
        .thietbi-text {
            margin-bottom: 20px;
        }
        .container {
            display: block;
            h1 {
                text-align: center;
                margin-bottom: 10px;
            }
            .vector {
                justify-content: center;
            }
            
        }
        
        .swiper-wrapper {
            margin-left: 5px;
            margin-right: 5px;
            height: 438px;
            .swiper-slide {
                padding-right: 10px;
                .inc_img {
                    height: 400px;
                    object-fit: cover;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            
        }
        .swiper-pagination {
            display: block;
        }
        
    }
    .doctor {
        .ellipse4 {
            display: none;
        }
        .container {
            .title_doctor {
                display: block;
                margin-bottom: 20px;
                h1 {
                    text-align: center;
                }
            }
            
            .info_doctor1 {
                display: block;

                .ed_dt_item {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .doctor_item {
                        display: block;
                        width: 100%;
                        padding: 0;
                        .doctor_item_img {
                            img {
                                margin: auto;
                            }
                        }
                        .doctor1_text {
                            text-align: center;
                            .doctor_text_intro {
                                p {
                                    width: 100%;
                                }
                            }
                            .doctor_text_dep {
                                .doctor_rate {
                                    justify-content: center;
                                }
                            }
                            
                        }
                    }
                }
                
            }
            .info_doctor2 {
                display: none;
            }
            .info_doctor2_mobile {
                display: block;
                
                .doctor3_mobile {
                    display: block;
                    width: 100%;
                    padding: 0;
                    img {
                        margin: auto;
                    }
                    .doctor2_text_mobile {
                        text-align: center;
                        width: 100%;
                        margin-left: 0;
                            .doctor_text_intro_mobile {
                                p {
                                    width: 100%;
                                }
                            }
                            .doctor_text_dep_mobile {
                                .doctor_rate_mobile {
                                    justify-content: center;
                                }
                            }
                    }
                }
                .doctor4_mobile {
                    display: block;
                    width: 100%;
                    padding: 0;
                    img {
                        margin: auto;
                    }
                    .doctor2_text_mobile {
                        text-align: center;
                        width: 100%;
                        margin-left: 0;
                            .doctor_text_intro_mobile {
                                p {
                                    width: 100%;
                                }
                            }
                            .doctor_text_dep_mobile {
                                .doctor_rate_mobile {
                                    justify-content: center;
                                }
                            }
                    }
                }
            } 
        }
    }
    .thainhi {
        margin-bottom: 40px;
        .ellipse5 {
            visibility: hidden;
        }
        .ellipse6 {
            visibility: hidden;
        }
        .con1 {
            display: block;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
            .con1_text {
                width: 100%;
                text-align: center;
                padding-left: 0;
                
                h6 {
                    margin-top: 0px;
                    
                }
            }           
        }
        .con2 {
            display: none;          
        }
        .con2_mobile {
            display: block;
            img {
                width: 100%;
            }
            .con2_text_mobile {
                width: 100%;
                text-align: center;
                padding-right: 0;
            }
        }
    }
    .giaiphap {
        
        display: block;
        margin: 0;
        .giaiphap_video {
            width: 100%;
        }
        .giaiphap_text {
            width: 100%;
            padding: 0;
            .trongoi_text_intro {
                text-align: center;
                .btn_contact {
                    margin: auto;
                    margin-top: 10px;
                }
            }
        }
    }
    .chamsoc {
        .container {
            display: none;
        }
        .con_chamsoc {
            display: block;
            .chamsoc_img {
                width: 100%;              
            }
            .con_text {
                width: 100%;
                text-align: center;
                .btn_contact {
                    margin: auto;
                    margin-top: 10px;
                }
            }
        }
    }
    .hauqua {
        .div1{
            display: block;
            .div1_small {
                img{
                    width: 50%;
                    margin: auto;
                }
                .div1_small_text {
                    text-align: center;
                    p{
                        width: 100%;
                    }
                }
            }
            .div1_small2 {
                img{
                    width: 50%;
                    margin: auto;
                }
                .div1_small2_text {
                    text-align: center;
                    p{
                        width: 100%;
                    }
                }
            }
        }
        .div2 {
            display: block;
            
            .div2_small {
                width: 100%;
                
                img{
                    width: 50%;
                    margin: auto;
                }
                .div2_small_text {
                    text-align: center;
                    p{
                        width: 100%;
                    }
                }
            }
            .div2_small2 {
                margin-left: 0;
                width: 100%;
                img{
                    width: 50%;
                    margin: auto;
                }
                .div2_small2_text {
                    text-align: center;
                    p{
                        width: 100%;
                    }
                }
            }
        }
    }
    footer {
        .footer_ellip {
            display: none;
        }
        .container {
            display: none;
        }
        .footer_mobile {
            display: block;
            .footer_mobile_first {
                display: block;
                .logo {
                    width: 100%;
                    img {
                        width: 50%;
                        margin: auto;
                    }
                }
            }
            .footer_mobile_body3 {
                .footer_mobile_body3_img {
                    img {
                        margin: auto;
                    }
                }
            }
        }
        .footer_mobile_last {
            font-size: 13px;
            
        }
    }
    
    
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (min-width: 63.9375em) {
    
}


